.item {
    border: none;
    outline: none;
    padding: 15px;
}
mat-toolbar {
    opacity: 0.8;
}
mat-nav-list {
    margin: auto;
    width: 80%;
    align-content: center;
}
mat-nav-list button {
    border-bottom: 2px solid transparent;
    width: 20%;
}
mat-nav-list button:hover {
    cursor: pointer;
    border-bottom: 2px solid deeppink;
}

.info {
    text-align: right;
    padding: 5px;
}
.icon {
    padding: 5px;
}