
<div class="card">
    <div class="card-content">
        <ul>
            <li><i class="icon fa fa-map-marker fa-lg"></i>Atlanta, GA</li>
            <li><i class="icon fa fa-envelope"></i>danaeblee@gmail.com</li>
            <li><i class="icon fa fa-mobile fa-lg"></i>770-312-8924</li>
        </ul>
        <div class="divider"></div>
        <button onclick="window.location.href='https://www.facebook.com/danaeblee/'"><i class="fa fa-facebook-square fa-2x"></i></button>
        <button onclick="window.location.href='https://www.linkedin.com/in/danaeblee/'"><i class="fa fa-linkedin fa-2x"></i></button>
        <button onclick="window.location.href='https://www.instagram.com/danaeblee/'"><i class="fa fa-instagram fa-2x"></i></button>
    </div>
</div>